    /************************/
    /*      COULEURS        */
    /************************/

    .primary {
      background-color: #000000;
    }

    .text-primary {
      color: #000000;   
    }

    .secondary {
      background-color: #000000;
    }

    .text-secondary {
      color: #000000;   
    }

    .dark {
      background-color: #000000;
    }

    .medium-light {
      background-color: #000000;
    }

    .light {
      background-color: #000000;
    }

    .warning {
      background-color: #000000;
    }

    .danger {
      background-color: #000000;
    }

    .success {
      background-color: #000000;
    }

    .info {
      background-color: #000000;
    }


    /************************/
    /*     TYPOGRAPHIE      */
    /************************/



    /************************/
    /*      BOUTONS         */
    /************************/



    /************************/
    /*    ICONOGRAPHIE      */
    /************************/



    /************************/
    /*     FORMULAIRES      */
    /************************/



    /************************/
    /*       LISTES         */
    /************************/



    /************************/
    /*       CARTES         */
    /************************/