<html>
  <head>
    <title>The Gossip Project - New gossip</title>
  </head>
  <body>
    <h1>Crée un gossip !</h1>
    <h3>Balance ton potin via le formulaire ci-dessous</h3>
    <form action='/gossips/new/' method='POST'>
      Ton nom :  <input type='text' name='gossip_author'/><br/>
      Balance ton gossip : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>