<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @event.admin.first_name %> !</h1>
    <p>
      L'utilisateur <%= @participant.first_name + @participant.last_name %> à rejoint ton événement <%= @event.title %> !
    </p>
    <p> À très vite sur https://the-event-project.fly.dev !
  </body>
</html>